<%= form_for @svien, url:{action:"create"} do |e| -%>
    <div class="modal-header">						
        <h4 class="modal-title">Add Employee</h4>     
    </div>
    <div class="modal-body">					
        <div class="form-group">
            <label><%= e.label :Name  %> </label>
            <%= e.text_field :name ,{:class =>"form-control"} %>
        </div>
        <div class="form-group">
            <label><%= e.label :Class %> </label>
            <%= e.text_field :nclass, {:class =>"form-control"} %>
        </div>					
    </div>
    <div  class="modal-footer"  >
        <%= e.submit "Save" ,{:class =>"btn btn-success",:type => "submit"} %> 
    </div>
<% end -%>